body {
  font-family:'Oxygen', sans-serif;
  margin:0;
  padding:0;

}

.homeHeader {
  background-image: url("newheader.jpg");
  background-position: center;
  background-size: cover;
  height:94vh;
  width:100%;
  display:table;
}

.contact:hover {
  text-decoration:none;
  color:white;
  background-color:darkblue;
}

.homeHeader-container {
  width:200px;
  padding:10px;
  margin:10px;
  display:table-cell;
  vertical-align:middle;
  text-align:center;
  height:500px;
  min-height:500px;
}

.infoHeader {
  background-image: url("covidbanner.svg");
  background-position: center;
  background-size:cover;
  color:white;
  border-radius:none;
  height:100vh;
  margin-bottom:0px;
}

.txtFooter {
  position:relative;
  top:25px;
  animation: textMove 5s ease infinite;
}

 .navbar {
  margin-bottom:-24px;
  background-color:royalblue;
  box-shadow: 2px 2px 5px black;
}

.contactHeader {
  background-color:#003366!important;
  color:white;
  border-radius:none;
  margin-bottom:0px;
}

.navbar-collapse {
  text-align:center;
}

.sermonHeader {
  background-color:midnightblue!important;
  color:white;
}

/*Google Maps Responsive (Labnol)*/
.google-maps {
       position: relative;
       padding-bottom: 75%; // This is the aspect ratio
       height: 0;
       overflow: hidden;
   }
   .google-maps iframe {
       position: absolute;
       top: 0;
       left: 0;
       width: 100% !important;
       height: 100% !important;
   }

/*Navbar Info*/
.navbar-dark .navbar-toggler {
  border-radius:30px;
  width:65px;
  background-color:gold;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-color:none;
}
